/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
 Base styles: opinionated defaults
 ========================================================================== */

 html,
 button,
 input,
 select,
 textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}

::selection {
background: #b3d4fc;
text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}

/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/

audio,
canvas,
img,
video {
vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
border: 0;
margin: 0;
padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
resize: vertical;
}

/* ==========================================================================
 Browse Happy prompt
 ========================================================================== */

 .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

* {
  outline: none;
}

html,
body {
  height: 100%;
}

body{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #ECE5CE;
  transition: background-color .5s ease;
}

body.won { background-color: #8FBE00; }
body.lost { background-color: #E22D2D; }

h1 {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.7em;
}

.wrapper {
  display: block;
  width: 810px;
  margin: 0 auto;
}

header {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

hr {
  border-top: 2px dotted #fff;
}

.container {
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.textual {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

.option,
.socket {
  display: inline-block;
  border-radius: 50%;
  background-color: #C7BF8D;
}

#guesses {
  display: inline-block;
  background-color: #E3DCB5;
  border-radius: 3px 0 0 3px;
  padding: 15px 30px;
  font-size: 0;
}

.guess { margin-top: 15px; }

.option,
.code .socket,
.guess .socket {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.code .socket + .socket,
.guess .socket + .socket { margin-left: 10px; }

.code {
  border-bottom: 2px solid #c7bf8d;
  padding-bottom: 15px;
}

.secret {
  color: #e3dcb5;
  text-align: center;
  line-height: 40px;
  font-weight: 800;
  font-size: 16px;
}

.socket.peg {
  -webkit-animation: bounceIn .4s;
  -o-animation: bounceIn .4s;
  animation: bounceIn .4s;
}



/******************* HINTS *******************/

#hints {
  vertical-align: bottom;
  display: inline-block;
  padding: 15px 20px;
  background-color: #E3DCB5;
  border-radius: 0 3px 3px 0;
  font-size: 0;
}

.hint {
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hint .row { height: 10px; }
.hint .row + .row { margin-top: 5px; }

.hint .socket {
  width: 10px;
  height: 10px;
}

.hint .socket + .socket { margin-left: 5px; }

.hint + .hint { margin-top: 15px; }
.hit { background-color: #000; }
.almost { background-color: #fff; }

#modalMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  /*min-width: 320px;*/
  height: auto;
  z-index: 2000;
  opacity: 1;
  border-radius: 2px;
  padding: 15px 20px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  transition: all .3s ease;
}

#modalOverlay.hidden {
  visibility: hidden;
}

#modalOverlay.won {
  background-color: rgba(143, 190, 0, .5);
  visibility: visible;
  opacity: 1;
}

#modalOverlay.won #modalMessage {
  background-color: #8FBE00;
  border: 5px solid #fff;
}

#modalOverlay.lost {
  background-color: rgba(226, 45, 45, .5);
  visibility: visible;
  opacity: 1;
}

#modalOverlay.lost #modalMessage {
  background-color: #E22D2D;
  border: 5px solid #fff;
}

#options {
  margin: 0 auto;
  padding: 20px 0;
  display: block;
  text-align: center;
  font-size: 0;
}

#options button + button {
  margin-left: 10px;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.option {
  margin-right: .5em;
  -moz-transition: all .1s ease;
}

.option:hover {
  -moz-transform: scale(1.1);
  -moz-transform-origin: center;
}

button {
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 800;
  padding: 5px 10px;
  color: #333;
  background-color: #fff;
  vertical-align: middle;
}

button.large {
  padding: 15px 20px;
}

button.primary {
  color: #8FBE00;
}

#delete {
  font-size: 21px;
  background-color: #c7bf8d;
}

#instructions {
  display: none;
  width: 400px;
  vertical-align: top;
}

/************* Colors *************/

.green { background: #8FBE00; }
.red { background: #E22D2D; }
.blue { background: #008C9E; }
.yellow { background: #F8CA00; }
.black { background: #191919; }
.purple { background: #993394; }
.brown { background: #6b4d39; }
.white { background: #fff; }


footer {
  text-align: center;
}

footer small {
  font-size: .7em;
}

footer a {
  color: inherit;
}

@media (max-width: 768px) {
  .wrapper,
  .container {
    width: 100%;
    box-sizing: border-box;
  }
  #guesses,
  #hints {
    margin-bottom: 50px;
  }
  #instructions {
    display: none;
  }
  #options {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #ece5ce;
  }
  #options button {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
  }
  .option {
    margin-right: 0;
  }
}


/* ==========================================================================
 Helper classes
 ========================================================================== */

/*
* Image replacement
*/

.ir {
background-color: transparent;
border: 0;
overflow: hidden;
/* IE 6/7 fallback */
*text-indent: -9999px;
}

.ir:before {
content: "";
display: block;
width: 0;
height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
display: none !important;
visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.clearfix:after {
clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
*zoom: 1;
}

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */

 @media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
 Print styles.
 Inlined to avoid required HTTP connection: h5bp.com/r
 ========================================================================== */

 @media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

   .ir a:after,
   a[href^="javascript:"]:after,
   a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
